#liste{
    display: flex;
    flex-direction: column;
}
.produit{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}
.produit > div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.btqHeader{
    display:flex;
    justify-content: space-around;
}

.logo{
    height: 3em;
}